<h1>Word Puzzle</h1>

<form style="width: 50%" action='/result' method='get'>
  <label for="inputSentence">Enter a sentence below to create a word puzzle:</label>
  <input id="inputSentence" name="inputSentence" type="text" class="form-control" placeholder="Sentence">
  <button type="submit" class="btn">Puzzle Me!</button>
</form>
